@page
@model LibRP.Pages.Lib.Book.BookMainModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Books";
}
<a href="~/lib/book/bookview">View all</a><br />
<a href="/lib/book/bookinsert">Add a new book</a><br />
<a href="~/lib/book/booksearch">Search</a><br />
<a href="~/lib/book/bookdelete">Delete</a><br />

