@page "{title}/{id}"
@model LibRP.Pages.Lib.Book.BookMessageModel
@{
    Layout = "_layout";
}
<h2>Thank you for adding your recommended book to the library.</h2><br /><br />
<h3>The book <i>@Model.t</i>&nbsp; has been successfully added and has an ID: &nbsp;<i>@Model.i</i></h3>
