@page
@model LibRP.Pages.Lib.Book.BookInsertModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Adding a new book";
}
<h1>Add your recommended book to our library!</h1>
<form asp-page="Lib/Book/BookInsert" method="post">
  <label for="title">Title:&nbsp;</label><br />          <input asp-for="Input.Title" type="text" id="title"><br /><br />
  <label for="isbn">ISBN:&nbsp;</label><br />            <input asp-for="Input.Isbn" type="number" id="isbn"> <br /><br />
  <label for="year">Year:&nbsp;</label><br />            <input asp-for="Input.Year" type="number" id="year"> <br /><br />
  <label for="fai">First author ID:&nbsp;</label><br />  <input asp-for="Input.FirstAuthorId" type="number" id="fai">  <br /><br />
  <label for="pi">Publisher ID:&nbsp;</label><br />      <input asp-for="Input.PublisherId" type="number" id="pi"/>  <br /><br />
  <label for="ci">Category ID:&nbsp;</label><br />       <input asp-for="Input.CategoryId" type="number" id="ci"/> <br /><br />
  <input type="submit" value="Add">
</form>
