@page
@model LibRP.Pages.AboutMeModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "About Me";
}
<html>
<head>

</head>
<body>
  <h2>Hello!</h2>
  <p>Welcome to my page. I've created this small, simple site to introduce myself.</p> <br />
  <h2>Personal Details</h2><br />
   <ul>
    <li>Name: Shiva Kazemivand</li>
    <li>Date of Birth: 1996</li>
    <li>city: Tabriz</li>
    <li>phone: +98 9370456335</li>
    <li>Email: shiva.kazemivand@gmail.com</li>
   </ul>
  <h2>Educational Backgrounds</h2><br />
  <table>
    <tr>
        <th>&nbsp;Degree </th>
        <th>&nbsp;Field </th>
        <th>&nbsp;Graduation Year </th>
        <th>&nbsp;School </th>
    </tr>
    <tr>
        <td>Diploma</td>
        <td>Math & Physics</td>
        <td>2014</td>
        <td>Farzanegan(sampad),Tabriz</td>
        
    </tr>
    <tr>
        <td>Bachelor</td>
        <td>Computer Eng.</td>
        <td>2020</td>
        <td>Tabriz University,Faculty of Electrical and Computer Engineering</td>
    </tr>
    <tr>
        <td>Master</td>
        <td>Computer Eng.</td>
        <td>Not Finished yet</td>
        <td>Tabriz University,Faculty of Electrical and Computer Engineering</td>
    </tr>
  </table><br />
  <h2>Career</h2>
  <p>During the last few weeks, I have been learning to develop web applications using Asp.Net Core.</p>
  <p>As you can see, I'm not good at developing frontend and I only know as much HTML,CSS and other front languages as needed to communicate with my backend servers.</p>
  <p>To develop my skills as a backend developer,I've been reading a few books that I found to be very useful and I intend to share them as a little library application. </p>
  <p>Feel Free to add your own recommended books to this library.</p>
  <a href="~/Lib/LibMain"> Go to the Library</a>
  <br /><br />
</body>
</html>